.loginsection{height: auto; width: 100%;}
form{height: auto; width: 50%; margin: 100px 25%; box-shadow: 0px 10px 12px 0px black; padding: 50px;}
form input[type="text"],[type="password"]{
    height: 28px; width: 90%; margin: 4px 5%;
}
form label{
    margin-left: 5%;
}
input[type="submit"]{
    padding: 10px; background: blue; margin-left: 5%; margin-top: 10px;
}
